.hide {
    display: none;
} 

// .error {
//     display: block;
//     color: red;
//     font-size: 36px;
//     margin-top: auto;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.breed-select.hide{
    display: none;
}

.error.hide{
    display: none;
}

.hide.cat-info{
    display: none;
}

.catImg{
    width:50vw;
}

.cat-info{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    padding: 25px;
    align-items: center;
    
}

.cat-about{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.catTitle{
    margin: 0;
    font-size: 36px;
}

.cat-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

.breed-select{
    display: block;
    width: 50vw;
    height: 40px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto; 
    font-size: 24px;
    color: #1b1515;
    border: 3px solid #1b1515;
    border-radius: 8px;
    padding-left: 25px;
}

.loader{
    color: green;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .cat-info{
        flex-direction: column;
        margin-top: 15px;
        gap: 30px;
    }
    .catImg{
        width:90vw;
    }
    .catTitle{
        font-size: 24px;
    }
    .cat-description{
        font-size: 16px;
    }
    .breed-select{
        width: 80vw;
        font-size: 16px;
    }
    .cat-about{
        gap: 16px;
    }
}